.calc{
    width: 400px;
    height: 600px;
    background: black;
    margin-left: 400px;
}
#screen{
    width: 80%;
    margin-left: 36px;
    margin-top: 20px;
    height: 59px;
    pointer-events: none;
}
.btn{
    width: 64px;
    height: 72px;
    margin-left: 26px;
    margin-top: 29px;
    background: rgba(26, 74, 217, 0.79);
    color: #fff;
    font-weight: bold;
    font-size: larger;
    border-color: #6a8cb7bd;
}